.SecretInput__SA{    
    border: 1px solid var(--text-color);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    display: flex;
}
.SecretInput__SA input{
    color: var(--text-color);
    background: 0 0;
    border: none;
    width: 100%;
}
.SecretInput__SA input:focus {
    outline: none;
}
.SecretInput__SA button {
    background: transparent;
    color: var(--text-color);
    border: none;
    cursor:pointer;
}